:root {
  --background: #f5f8fc;
  --background-item: #fffffe;
  --text-primary: #09193c;
  --text-secondary: #75838d;
}

[data-colorMode='dark'] {
  --background: #04070b;
  --background-item: #000000;
  --text-primary: #c3d3f3;
  --text-secondary: #727f88;
}

*,
*::before,
*::after {
  scrollbar-color: transparent;
  /* font-family: 'Blender Pro'; */
  box-sizing: border-box;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#root {
  align-items: center;
  isolation: isolate;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
