:root {
  --background: #f5f8fc;
  --item-background: #fffffe;
  --text-primary: #09193c;
  --text-secondary: #75838d;
  --pokered: #ff5251;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

[data-colormode='dark'] {
  --background: #3c4856;
  --item-background: #91aecf;
  --text-primary: #c4c9f9;
  --text-secondary: #383a3d;
}

*,
*::before,
*::after {
  scrollbar-color: transparent;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#root {
  align-items: center;
  isolation: isolate;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
